.app-container {
  height: 100%;
  text-align: center;
  margin: auto 40px;
  width: 40%;
  float: right;
  color: white;
}

.app-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.app-form__input {
  max-width: 200px;
  height: 30px;
  border: none;
  padding-left: 4px;
  outline: none;
  font-size: 15px;
  margin: 0 10px;
}

.app-form__submit-button {
  margin-top: 20px;
  border-radius: 49px;
  padding: 10px 20px;
  outline: none;
  cursor: pointer;
  border: solid 1px black;
  background-color: white;
}

.app-form__submit-button:hover {
  border: solid 1px white;
  color: white;
  background-color: #ec9797;
}

.app-result {
  overflow-y: scroll;
  max-height: 55%;
  padding: 10px;
  margin: 20px;
  background-color: white;
  color: black;
  font-size: 14px;
  text-align: center;
}

.name {
  font-size: 17px;
  font-weight: 700;
}
